/* - @font-face
========================
*/

@font-face {
    font-family: 'gothamBold';
    src: url('../fonts/gothambold1.eot');
    src: url('../fonts/gothambold1.ttf') format('embedded-opentype'),
         url('../fonts/gothambold1.woff') format('woff'),
         url('../fonts/gothambold1.ttf') format('truetype'),
         url('../fonts/gothambold1.svg#gothambold1') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*---------- UTILITIES ------------------------*/

body {
  background-color: #fff;
  /*font-family: 'gothamBold';*/
  font-family: 'Tangerine', cursive;
  font-weight: lighter;
  background: url(../img/bg.jpg)no-repeat center center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

h1,h2,h3,h4 {
  /*font-family: 'gothamBold';*/
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 2px 2px #000;
  letter-spacing: 3px;
  /*text-transform: uppercase;*/
  /*padding-top: 1em;*/
  
}

h5,h6,p,li {
  /*font-family: 'gothamBold';*/
  font-family: 'Tangerine', cursive;
  font-weight: normal;
}

.first {
  font-size: 3em;
  padding-top: 1.5em;
}

.second {
  font-size: 2.5em;
  padding-top: 0.25em;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.large-12, .columns, .large-6, .medium-6,
.large-4, .medium-4, .small-4, .small-2,
.small-10, .small-9 {
  border: 1px solid #000;
  background: transparent;
  border-style: none;
  /*padding: 0;*/
  /*margin: 0;*/
}

/* DARK CALLOUT PANEL*/
.panel.callout {
   background: rgba(153, 153, 153, .5);
  -webkit-box-shadow: 0px 0px 1px 1px #999, 0px 0px 3px 3px rgba(153, 153, 153, .5);
          box-shadow: 0px 0px 1px 1px #999, 0px 0px 3px 3px rgba(153, 153, 153, .5);
   color: #FFF;
}

/*  STYLE THE BG FOR NAV HERE */
/*.top-bar-section li:not(.has-form) a:not(.button) {
  background: #2a83c5;
}

.top-bar {
  background: #2a83c5;
}

.top-bar-section img {
  width: 25%;
  max-width: 25%;
}

.top-bar-section {
  background: transparent;
}

.contain-to-grid {
  background: transparent;
  background: #054CB4;
}*/

  /*STYLE IMPORTANT BUTTON*/
/*.top-bar-section ul li > a.button {
background: #008cba;
font-size: 0.8125rem;
padding-right: 15px;
padding-left: 15px;
}*/

/* !!!!! STYLE H-1 LOGO HERE !!!!!!!!!!!!! */
.top-bar .name h1 a {
font-weight: normal;
color: white;
width: 50%;
display: block;
/*padding: 0 15px;*/
padding: 5.5em;
text-indent: -9999px;
background: url(../img/example.jpg)no-repeat left;
}

/*DIFFERENT COLOR LAYERED DROP MENU*/
/*nav li:nth-of-type(1) a {
  background: #050608;
}

nav li:nth-of-type(2) a {
  background: #1e1e20;
}

nav li:nth-of-type(3) a {
  background: #28292a;
}

nav li:nth-of-type(4) a {
  background: #37383a;
}

nav li:nth-of-type(5) a {
  background: #4a4b4c;
}

nav li:nth-of-type(6) a {
  background: #5b5b5d;
}
*/

/* STYLE MODAL WINDOW */
/*.reveal-modal {
  width: 50%;
  left: 20%;
  left: 75%;
  padding: 0;
  background: transparent;
}*/

/*  STYLE BUTTON COLORS  */
/*.button.small {
  -webkit-transition: all 2s ease-in-out;
     -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
       -o-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #582707),
  color-stop(0.88, #BF662A)
  );
  background-image: -o-linear-gradient(bottom, #582707 0%, #BF662A 88%);
  background-image: -moz-linear-gradient(bottom, #582707 0%, #BF662A 88%);
  background-image: -webkit-linear-gradient(bottom, #582707 0%, #BF662A 88%);
  background-image: -ms-linear-gradient(bottom, #582707 0%, #BF662A 88%);
  background-image: linear-gradient(to bottom, #582707 0%, #BF662A 88%);
  }

.button.small:hover {
  -webkit-transition: all 2s ease-in-out;
     -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
       -o-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #582707),
  color-stop(0.88, #BF662A)
  );
  background-image: -o-linear-gradient(top, #582707 0%, #BF662A 88%);
  background-image: -moz-linear-gradient(top, #582707 0%, #BF662A 88%);
  background-image: -webkit-linear-gradient(top, #582707 0%, #BF662A 88%);
  background-image: -ms-linear-gradient(top, #582707 0%, #BF662A 88%);
  background-image: linear-gradient(to top, #582707 0%, #BF662A 88%);
}
*/

/*<===================== CONTENT ======================>*/

.l-letter-container {
  background: url("../img/paper-bg.png")no-repeat center center;
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  position: absolute;
  width: 500px;
  height: 400px;
  padding: 2%;
  top: 50%;
  left: 10%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;

}

@media screen and (max-width: 480px) {
  .l-letter-container {
    width: 90%;
    z-index: 1;
    padding: 3%;
  }

  .first {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .second {
    font-size: 19px;
    letter-spacing: 2px;
  }

  h1 {
    position: absolute;
    font-size: 24px;
    top: 40%;
    left: 80%;
    opacity: 0;
    padding-top: 0.75em;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  h2 {
    padding-top: 1em;
    position: absolute;
    font-size: 19px;
    top: 60%;
    left: 10%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.bird {
  z-index: 5;
  width: 25%;
  
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
  -webkit-animation: hum 3.75s ease-in-out infinite alternate;
     -moz-animation: hum 3.75s ease-in-out infinite alternate;
       -o-animation: hum 3.75s ease-in-out infinite alternate;
          animation: hum 3.75s ease-in-out infinite alternate;
}

@-webkit-keyframes hum {
  0 { top: 10%; left: 10%;}
  25% { top: 80%; left: 80%; -webkit-transform: translate(-50%, -50%) rotateY(-180deg);}
  50% { top: 10%; left: 80%;}
  75% { top: 80%; left: 10%;}
  100% { top: 10%; left: 10%; -webkit-transform: translate(-50%, -50%) rotateY(0);}

}
@-o-keyframes hum {
  0 { top: 10%; left: 10%;}
  25% { top: 80%; left: 80%; -webkit-transform: translate(-50%, -50%) rotateY(-180deg);}
  50% { top: 10% left: 80%;}
  75% { top: 80% left: 10%;}
  100% { top: 10%; left: 10%; -webkit-transform: translate(-50%, -50%) rotateY(0);}

}
@-moz-keyframes hum {
  0 { top: 10%; left: 10%;}
  25% { top: 80%; left: 80%; -webkit-transform: translate(-50%, -50%) rotateY(-180deg);}
  50% { top: 10% left: 80%;}
  75% { top: 80% left: 10%;}
  100% { top: 10%; left: 10%; -webkit-transform: translate(-50%, -50%) rotateY(0);}

}
@keyframes hum {
  0 { top: 10%; left: 10%;}
  25% { top: 80%; left: 80%; -webkit-transform: translate(-50%, -50%) rotateY(-180deg);}
  50% { top: 10% left: 80%;}
  75% { top: 80% left: 10%;}
  100% { top: 10%; left: 10%;-webkit-transform: translate(-50%, -50%) rotateY(0);}

}

/*.l-bird-1 {
  background: url("../img/hum-illustrate.gif")no-repeat center center;
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  left: 20%;
 
}*/

.l-bird-2 {
  background: url("../img/hum2.gif")no-repeat center center;
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  left: 80%;
}

.l-splash-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba( 0, 0, 0, 0.95);
  z-index: 20;
  
}

form {
  width: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: 'gothamBold';
  color: #000;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}





/*<====================== END CONTENT ===================>*/

